@import "tailwindcss";

@theme {
  --color-background: #0F0F0F;
  --color-foreground: #F4F4F5;
}

:root {
  color-scheme: dark;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
